
.DS_Store
run_scripts_www.sh

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
.VSCodeCounter

**/*.ini

FX/Visual Plugin Selector/*
!FX/Visual Plugin Selector/Odedd_Visual Plugin Selector.lua
!FX/Visual Plugin Selector/lib
!FX/Visual Plugin Selector/lib/*

Rendering/Stem Manager/*
!Rendering/Stem Manager/Odedd_Stem Manager.lua
!Rendering/Stem Manager/lib
!Rendering/Stem Manager/lib/*